@page
@model HospiEnCasa.App.FrontEnd.Pages.FamiliarDesignadoDeleteModel
@{
}
<h2>¿Seguro deseas eliminar este dato?:</h2>
<div>
    <h2>@Model.FamiliarDesignado.Nombre @Model.FamiliarDesignado.Apellidos</h2>
</div>
<div>
    Telefono: @Model.FamiliarDesignado.NumeroTelefono
</div>
<div>
    Genero: @Model.FamiliarDesignado.Genero
</div>
<div>
    Parentesco: @Model.FamiliarDesignado.Parentesco
</div>
<div>
    Correo: @Model.FamiliarDesignado.Correo
</div>
<form method="post">
    <input type="hidden" asp-for="FamiliarDesignado.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./FamiliaresDesignadosList" class="btn btn-primary">Lista de Familiares </a>
</form>