@page
@model HospiEnCasa.App.FrontEnd.Pages.EnfermeraDeleteModel
@{
}
<h2>¿Seguro deseas eliminar este dato?:</h2>
<div>
<h2>@Model.Enfermera.Nombre @Model.Enfermera.Apellidos</h2>
</div>
<div>
    Telefono: @Model.Enfermera.NumeroTelefono
</div>
<div>
    Genero: @Model.Enfermera.Genero
</div>
<div>
    Tarjeta Profesional: @Model.Enfermera.TarjetaProfesional
</div>
<div>
    Horas Laborales: @Model.Enfermera.HorasLaborales
</div>
<form method="post">
    <input type="hidden" asp-for="Enfermera.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./EnfermerasList" class="btn btn-primary">Lista de Enfermeras </a>
</form>